<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center" style="background-color:#003fa5">
  <div class="container">
    <h1>Board Game Collection Viewer</h1>
    <p>This is a small web application to store a personal collection of board games, along with some pertinent characteristics, such as category, player count, and recommended age. Some features planned for this tool are the ability to filter by game characteristic, and a visual interface for easily updating the database.</p>
  </div>
</div>
<div class="container">
<div style="width: 100%; display: table;">
    <div style="display: table-row;">
        <div style="width: 25%; display: table-cell; background-color: #fcfcfc"> 
		<h2><span class="glyphicon glyphicon-question-filter"></span> Filter Categories</h2>
		</div>
        <div style="display: table-cell; background-color: #ffffff">		
		<h2><span class="glyphicon glyphicon-question-alert"></span> Most Recent Additions</h2> 
		</div>
    </div>
</div>
</div>


</body>
</html>
